@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    color: white;
    background-color: rgb(41, 37, 36);
}

.pop-up {
    transform: scale(0);
    animation: pop-up-anim 0.3s forwards;
}

@keyframes pop-up-anim {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}